<a href="https://colab.research.google.com/github/2205a21025/PSP-ASSIGNMENT/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
Qualification=['venkat', 'B.Tech', 2006, 'M.E.', 2011, 'Ph.D', 2018]

print (Qualification)

print(Qualification[0])
print(Qualification [1:])

print(Qualification [1:5])

print(Qualification * 2)
print (Qualification[::-1])

['venkat', 'B.Tech', 2006, 'M.E.', 2011, 'Ph.D', 2018]
venkat
['B.Tech', 2006, 'M.E.', 2011, 'Ph.D', 2018]
['B.Tech', 2006, 'M.E.', 2011]
['venkat', 'B.Tech', 2006, 'M.E.', 2011, 'Ph.D', 2018, 'venkat', 'B.Tech', 2006, 'M.E.', 2011, 'Ph.D', 2018]
[2018, 'Ph.D', 2011, 'M.E.', 2006, 'B.Tech', 'venkat']

In [3]:

Qualification=['venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018]

Experience=['SSCE', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', '2018']

CA=Qualification+Experience

print("Qualification=", Qualification)

print("Experience=", Experience)

print("CA-", CA)

Qualification= ['venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018]
Experience= ['SSCE', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', '2018']
CA- ['venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018, 'SSCE', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', '2018']

In [5]:

list=['venkat', '1985']

print('Venkat birth year', list[1])

list[0]='dev'

list[1]=2017

print('dev birth year', list[1])

Venkat birth year 1985
dev birth year 2017

In [6]:

list=['venkat', '1985']
print(list)

del list[1]

print(list)

['venkat', '1985']
['venkat']

In [7]:

Name=['Ramana', 'Thanmai', 'Dev']
DOB=[1985, 2014,2017]

print('Number of peoples', len(Name))

print('')

Details=Name+DOB

print("Biodata", Details)

print()

Repetition=Name*2

print("Repetition", Repetition)

print()

for x in Name:

          print(x)

          print('')

Number of peoples 3

Biodata ['Ramana', 'Thanmai', 'Dev', 1985, 2014, 2017]

Repetition ['Ramana', 'Thanmai', 'Dev', 'Ramana', 'Thanmai', 'Dev']

Ramana

Thanmai

Dev

In [8]:


Name=['Ramana', 'Thanmai', 'Dev']

DOB=[1985,2014,2017]

print('Name with maximum charecters', max(Name))

print('Younger person DOB', max(DOB))

print('Name with minimum charecters', min (Name))

print('Older person DOB', min (DOB))

Name with maximum charecters Thanmai
Younger person DOB 2017
Name with minimum charecters Dev
Older person DOB 1985

In [9]:

atuple=('ramana', 1985, 'Thanmai', 2014)
str='venkat'
list1=(atuple)
list2=(str)
print(list1)
print(list2)

('ramana', 1985, 'Thanmai', 2014)
venkat

In [11]:

Students=['ram', 'venkat']

print(Students)

Students.append('Dev')

print (Students)

['ram', 'venkat']
['ram', 'venkat', 'Dev']

In [12]:

Grade=['A', 'A', 'B', 'C', 'A']

print('How many peoples got A grade',Grade.count('A'))

How many peoples got A grade 3

In [13]:
Family=["Venkat", "Swetha"]

print('Family members', Family)
atuple=('Dev','Thanmai')

Family.extend(atuple)

print('Family members', Family)

Family members ['Venkat', 'Swetha']
Family members ['Venkat', 'Swetha', 'Dev', 'Thanmai']

In [14]:
Family=["Ramana","Swetha","Thanmai","Dev"]

print("Family members", Family)
Family.remove("Ramana")

print('Family members', Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Swetha', 'Thanmai', 'Dev']

In [15]:
Family=["Ramana", "Swetha", 'Thanmai', 'Dev']
print('Family members', Family)

Family.reverse()

print('Family members', Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Dev', 'Thanmai', 'Swetha', 'Ramana']

In [16]:
Name=["Ranana", "Thanmai", "Dev"]

print('Family members', Name)
Name.insert(1, 'Swetha')

print('Family members',Name)

Family members ['Ranana', 'Thanmai', 'Dev']
Family members ['Ranana', 'Swetha', 'Thanmai', 'Dev']

In [17]:

Family=['Ramana', "Swetha", "Thanmal", 'Dev']

print("Family members", Family)

Family.pop()

print('Family members', Family)

Family.pop(2)

print("Family members", Family)

Family members ['Ramana', 'Swetha', 'Thanmal', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmal']
Family members ['Ramana', 'Swetha']

In [18]:

dict={}
print(dict)
dict['one']='This is one'
print(dict)
dict['2']='this is two'
print(dict)
print(dict.keys())
print(dict.values())

{}
{'one': 'This is one'}
{'one': 'This is one', '2': 'this is two'}
dict_keys(['one', '2'])
dict_values(['This is one', 'this is two'])

In [21]:
thisset={"apple","banana","cherry"}

mylist= ["kiwi", "orange"]

mylist_2=(2,3)

mylist_3={"Name":"Venkat", "School": "SRU"}

In [22]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:

    print(x)

apple
banana
cherry